body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* fuentes */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header {
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 4px solid #3c5b6f;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img {
    height: 75px;
    float: left;
    display: block;
    /* margenes */
    margin-top: -15px;
    margin-right: 20px;
    /* animacions */
    animation: girar infinite 5s linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}

.center {
    width: 75%;
    margin: 0px auto;
}

#menu {
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li {
    list-style: none;
    display: inline-block;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: #153448;
    transition: 300ms all;
}

#menu a:hover {
    color: #03AED2;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#slider {
    background: rgb(22,121,171);
    background: radial-gradient(
        circle, 
        rgba(22,121,171,1) 39%, 
        rgba(7,64,115,1) 100%
    );
    width: 100%;
    height: 350px;
    color: white;
    text-shadow: 0px 0px 5px #444;
}

#slider h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 115px;
    text-align: center;
}

.btn-white {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #868585;
    color: #868585;
    display: block;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    margin: 0px auto;
    margin-top: 40px;
    padding: 10px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    transition: 300ms all;
    width: 95px;
}

.btn-white:hover{
    background: #444;
    color: wheat;
}

#slider.slider-small {
    height: 150px;
}

#slider.slider-small h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 50px;
}

#content {
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}

#sidebar {
    width: 25%;
    float: left;
}

.sidebar-item {
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
}

.btn {
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all; /* para usar pseudoclases */
    border: none;
    cursor: pointer;
}

.sidebar-item .btn {
    margin: 0px auto;
    margin-top: 10px;
}

.btn-success {
    background: rgba(22,121,171,1) 39%;
}

.btn-success:hover {
    background: black;
}

input[type="text"],
textarea {
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus,
textarea:focus {
    box-shadow: 0px 0px 10px #ccc inset;
}

.footer {
    background: #dbdbdb;
    width: 100%;
    height: 70px;
    line-height: 65px;
    color: #4e4e4e;
}

.footer p {
    margin: 0px;
    padding: 0px;
}

.article-item {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap {
    width: 130px;
    height: 130px;
    border: 1px solid #ccc;
    float: left;
    overflow: hidden;
    margin-right: 15px;
}

.article-item .image-wrap img {
    height: 100%;
    text-align: center;
}

.article-item h2 {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
}

.article-item .date {
    display: block;
    width: 100%;
    color: rgb(122,122,122);
}

.article-item a {
    display: block;
    color: #373737;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover {
    text-decoration: underline;
}

.subheader {
    font-size: 30px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 5px;
}

/* Estilos al detalles de artículo */
.article-detalle .image-wrap {
    width: 100%;
    height: 300px;
    float: none;
}

.article-detalle .image-wrap img {
    float: none;
    width: 100%;
    height: auto;
}

.article-detalle .subheader {
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Estilos a formulario */
.mid-form {
    width: 50%;
    margin: 0px auto;
}

.mid-form label {
    display: block;
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
}

textarea {
    width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
}

.radiobuttons {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

/* Responsive Web Design */
/* Desde la anchura 1059px hasta la anchura 1488px de pantalla */
@media (max-width: 1488px) {
    .center{
        width: 85%;
    }
}

/* Desde la anchura 959px hasta la anchura 1098px de pantalla */
@media (max-width: 1098px) {
    .center{
        width: 95%;
    }
}

/* Desde la anchura 973px hasta la anchura 959px de pantalla */
@media (max-width: 973px) {
    #menu ul {
        width: auto;
    }

    #logo {
        font-size: 25px;
    }

    #logo img {
        height: 60px;
    }
}

/* Desde la anchura 797px hasta la anchura 813px de pantalla */
@media (max-width: 813px) {
    #menu ul {
        width: auto;
    }

    #logo {
        font-size: 25px;
    }

    #logo img {
        height: 55px;
        display: block;
        float: left;
    }
}

/* Desde la anchura 450px hasta la anchura 797px de pantalla */
@media (max-width: 797px) {
    #menu,
    #menu ul {
        width: auto;
        clear: both;
        width: 100%;
        float: none;
        margin: 0px;
        padding: 0px;
        line-height: 50px;
    }

    #logo {
        float: none;
        font-size: 25px;
        width: 270px;
        margin: 0px auto;
        margin-top: 35px;
    }

    #logo img {
        height: 55px;
        display: block;
        float: left;
    }

    /* Sidebar */
    #content {
        float: none;
        width: 100%;
    }

    #sidebar {
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    #slider h1{
        padding-top: 115px;
        font-size: 25px;
    }

    .mid-form {
        width: 70%;
    }
}


/* Desde la anchura 0px hasta la anchura 450px de pantalla */
@media (max-width: 450px) {
    #header {
        min-height: 130px;
        overflow: hidden;
    }

    #menu,
    #menu ul {
        line-height: 50px;
    }

    #menu,
    #menu ul li{
        margin-left: 7px;
        margin-right: 7px;
    }

    #slider h1{
        padding-top: 35px;
        font-size: 25px;
    }

    #slider .btn-white {
        margin-top: 20px;
        width: 15%;
        height: 5%;
        font-size: 12px;
        line-height: 15px;
    }

    #slider.slider-medium {
        height: 200px;
    }
}